<td><button (click)="lockUser()">Lock</button></td>
<td><button (click)="unlockUser()">Unlock</button></td>
<td>
  <input type="radio" name="role_{{ username }}" value="MERCHANT" [(ngModel)]="new_role"> Merchant
  <input type="radio" name="role_{{ username }}" value="SUPPORT" [(ngModel)]="new_role"> Support
</td>
<td>
  <button (click)="changeUserRole(username, new_role)">Change Role</button>
</td>
<td>
  <button (click)=deleteUser(username)>Delete</button>
</td>
<td>{{ username }}</td>
<td>{{ role }}</td>
