<h2>Admin Panel</h2>
@if(adminService.userService.currentUser | async; as user ) {
  @if(user?.role != "ADMINISTRATOR") {
    <p>Warning! User is not logged in as Administrator</p>
  }
}

@if(adminService.userService.encodedCredentials == undefined) {
  <p>Warning! User credentials not found</p>
}

<button (click)="getUsers()">list users</button>

@if(userList != undefined) {
  <table>
    <thead>
    <th>username</th>
    <th>name</th>
    <th>role</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList | async">
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.role}}</td>
    </tr>
    </tbody>
  </table>
}
