<h2>Admin Panel</h2>
@if(adminService.userService.currentUser | async; as user ) {
  @if(user?.role != "ADMINISTRATOR") {
    <p>Warning! User is not logged in as Administrator</p>
  }
}

@if(adminService.userService.encodedCredentials == undefined) {
  <p>Warning! User credentials not found</p>
}

<button (click)="getUsers()">list users</button>

@if(userList != undefined) {
  <table>
    <tbody>
    <tr *ngFor="let user of userList | async">
      <app-user-cell [username]="user.username" [name]="user.name" [role]="user.role"></app-user-cell>
    </tr>
    </tbody>
  </table>
}
